.floating-animation {
  animation: floatAnimation 2s ease-in-out infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -10px);
  }

  100% {
    transform: translate(0, 0);
  }
}
@media (max-width: 575.98px) {
  body {
    overflow-x: hidden;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
.carousel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.carousel {
  width: 325px;
  height: 200px;
}

.carousel-inner img {
  height: 200px;
  width: 325px;
  object-fit: fillr;
}
#about{

  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start

}
.contain img{
  width:200px;
  height:100px;
}

#nav:hover{
  color: #e3c138;
  font-weight: 900;
  font-size:medium;
  
}
#p:hover{

  color: #e3c138;

}
body{
  background-color: rgb(12, 7, 56);
}